export LS_OPTIONS="-F -h"
alias ls="ls $LS_OPTIONS"
alias l="ls"
alias la="ls -A"
alias lll="ls -l"
alias ll="ls -lA"
alias ll.="ls -ld"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."

alias hosts='fraise /etc/hosts'

alias slt='open -a "Sublime Text 2"'
alias n='nano'
alias d='drush'
alias g='git'