export LS_OPTIONS="-F -h"
alias ls="ls $LS_OPTIONS"
alias l="ls"
alias la="ls -A"
alias lll="ls -l"
alias ll="ls -lA"
alias ll.="ls -ld"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."

alias dev='cd ~/dev'
alias mamp='cd /mamp'

alias hosts='fraise /etc/hosts'